.cards * {
  box-sizing: border-box;
}

.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 1em;
  margin-left: 7%;
  margin-right: 7%;

  .card {
    width: 17em;
    background: #fff;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    margin: 2em;

    .banner {
      height: 15em;
      background: linear-gradient(145deg, #dbd2c7, #b9b0a7);
      padding-top: 3em;
      border-radius: 10px 10px 50% 50%;

      h2 {
        margin: 0000.8em;
      }
    }

    img {
      width: 16em;
      position: absolute;
      top: 7em;
      right: -8em;
      filter: drop-shadow(15px 10px 25px rgba(0, 0, 0, 0.5));

      &.foundation {
        width: 10em;
        top: 7em;
        right: -3em;
        filter: drop-shadow(15px 10px 25px rgba(0, 0, 0, 0.5));
      }
    }

    .content {
      padding: 1em;

      .category small {
        display: block;
        line-height: 24px;
        letter-spacing: 1px;
        font-size: 0.8em;
      }
      .quantity-parent {
        display: flex;
        justify-content: center;

        .quantity {
          display: inline-block;
          margin-top: -0.5em;
          font-weight: 700;
        }
      }

      .id-link {
        text-decoration: none;

        .add-btn {
          background: linear-gradient(145deg, #dbd2c7, #b9b0a7);
          padding: 1em 1.1em;
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          border-radius: 2em;
          border: none;
          margin: 0 auto;
          margin-top: 2em;
          font-weight: 700;
          box-shadow:
            20px 20px 60px #aea79e,
            -20px -20px 60px #ece1d6;
          cursor: pointer;
        }
      }

      .pop {
        transform: translateZ(20px);
      }
    }
  }
}

.active {
  color: #ccc;
}

.searchBar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.searchInput {
  padding: 15px;
  width: 50%;
  border: 4px solid #b9b0a7;
  border-radius: 2em;
  margin-right: 10px;
  margin-left: 3%;
  box-shadow:
    20px 20px 60px #aea79e,
    -20px -20px 60px #ece1d6;
}

.searchButton {
  background: linear-gradient(145deg, #dbd2c7, #b9b0a7);
  border: none;
  border-radius: 2em;
  padding: 15px 30px;
  cursor: pointer;
  font-size: 15px;
  box-shadow:
    20px 20px 60px #aea79e,
    -20px -20px 60px #ece1d6;
}

.sortButtons {
  display: flex;
  gap: 15px;
  margin-left: -3%;
}

.sortButtons button {
  padding: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 2em;
  background-color: #f8f8f8;
  transition: 0.5s;
  box-shadow:
    20px 20px 60px #aea79e,
    -20px -20px 60px #ece1d6;
}

.sortButtons button:hover {
  background-color: #aea79e;
  color: white;
}

.sortButtons button.active {
  background-color: #dbd2c7;
  color: black;
  border: 1px solid #dbd2c7;
}
